@use "../ThemeProvider/variables" as theme-variable;

.landing-page-bg {
  background: theme-variable.$main-background-color;
}

.landing-page-content-wrapper {
  position: absolute;
  top: 6em;
  width: 100%;
}

@media (min-width: 24em) {
  .landing-page-content-wrapper {
    top: 4.5em;
  }
}

@media (min-width: theme-variable.$media-query-medium-value) {
  .landing-page-content-wrapper {
    top: 3.5em;
  }
}

@media (min-width: theme-variable.$media-query-default-value) {
  .landing-page-content-wrapper {
    top: 2.5em;
  }
}
